* text=auto
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.bat text eol=crlf
*.exe binary
*.png binary
*.ico binary
*.icns binary
